<div>
  <div>Введите дату</div>
  <div>Добавить формы и вывести в них подготовленные данные</div>
  <div>Вывести массив с подготовленными данными</div>
  <div>Сделать связь между именами залов и их номерами на арриве</div>
  <div><%= @counter %></div>
  <%= @films.each do |film| %>
  <div><%= film.name+" "+film.time+" "+film.price.to_s %></div>
  <% end %>
</div>