<div>
  <div>Введите дату</div>
  <div>Добавить формы и вывести в них подготовленные данные</div>
  <div>Вывести массив с подготовленными данными</div>
  <div>Сделать связь между именами залов и их номерами на арриве</div>
  <% @seances.each do |s| %>
    <div><%= s.film_name+" "+s.datetime.strftime("%H:%M")+" "+s.price.to_s %></div>
  <% end %>
</div>